.infos{
    background-color: #81a78b;
    width: 240px;
    height: 200px;
  }

.move{
  margin-top: 0;
  margin-bottom: 0;
  color: rgb(71, 70, 70);
  line-height:0.75;
}
.Ataques{
  margin-bottom: 0;
}

.txt-info{
  font-weight: bold;
  margin-bottom: 5px;
  margin-left: 15px;
  text-transform: uppercase;
}