.quadro {
    width: 600px;
    height: 400px;
    position: relative;
    overflow: hidden;
    border-top: 2px solid black;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    margin-left: 15px;
    margin-bottom: 30px;
    border-radius: 13px;
    background-color: #EFEFEF;
    position: relative;
  }
  .div-seta{
    position: absolute;
    bottom: 1;
    right: 0;
    margin-bottom: 15px;
    margin-right: 55px;
    margin-top: 5px;
  }
  
  .quadro::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 34%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    transform: skewX(45deg);
    border-right: 2px solid black;
  }
  
  .tela{
    background-color: black;
    width: 500px;
    height: 280px;
    border-radius: 22px;
    margin-top: 30px;
    margin-left: 50px;
    position: relative;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }
  .pokemon-img{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 25px;
    margin-right: 25px;
    
  }
  .Info-Pokemon{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-left: 25px;
  }
  .red-bola{
    background-color: #CF0000;
    position: absolute;
    bottom: 0;
    left: 15%;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.75);
    margin-bottom: 40px;
  }

  .red-line{
    background-color: #CF0000;
    width: 15%;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 20%;
    margin-bottom: 65px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }
  .blue-line{
    background-color: #1E9DC5;
    width: 15%;
    height: 5px;
    position: absolute;
    bottom: 0;
    right: 25%;
    margin-bottom: 65px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
  }

  .sound .s1,
  .sound .s2,
  .sound .s3{
    background-color: #535151; 
    width: 8%;
    height: 6px;
    position: absolute;
    left: 44%;
    margin-top: 10px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.75);
  }
  .sound .s2{
    margin-top: 20px;
  }
  .sound .s3{
    margin-top: 30px;
  }
