.seta {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: #00000000;
    position: relative;
  }
  

  .seta-right,
  .seta-left {
    width: 30px;
    height: 20px;
    border-radius: 25%;
    background-color: #000000;
    position: absolute;
  }
  .seta-top,
  .seta-bottom {
    width: 20px;
    height: 30px;
    border-radius: 25%;
    background-color: #000000;
    position: absolute;
  }
  
  .seta-top {
    top: 0;
    left: 30px;
  }
  
  .seta-right {
    top: 30px;
    right: 0;
  }
  
  .seta-bottom {
    bottom: 0;
    left: 30px;
  }
  
  .seta-left {
    top: 30px;
    left: 0;
  }
  