.lista{
  width: 280px;
  height: 400px;
  position: relative;
  overflow: hidden;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  margin-left: 15px;
  margin-bottom: 150px;
  border-radius: 13px;
  overflow: scroll;
  background-color: white;
}

.cardLista {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s; 
  height: 50px;
  width: 100%;
  margin-bottom: 3px;
  display: inline-block;
  margin-top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cardLista:hover {
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.2);
  background-color: rgba(135, 135, 135, 0.162);
}
.cardLista:active{
  background-color: rgba(0, 0, 0, 0.238);
}


.nomeLista{
  text-align: center;
  margin: 0;
}
.campo-telinha{
  height: 100px;
}

